@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


.individual-movie {
  font-family: 'Cinzel', sans-serif;
  background-color: hsla(0, 0%, 2%, 0.404);
  backdrop-filter: blur(5px);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 500px;
  overflow: auto;
}


.movie-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backdrop img {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}