.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 150px; 
  margin: 40px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Include transform in the transition */
}

.card:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  transform: scale(1.2); 
}

.card img {
  width: 120px;
  transition: transform 0.3s ease;
}

h3 {
  color: white;
}