@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap');

body, h1 {
    margin:  0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    font-size:  2rem;
    padding:  30px  30px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:  1;
    font-weight: bold;
    color: #FFFFFF;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    flex-grow:  1;
}

.back-to-movies, .filter-button {
    width:  100px;
    background-color: #f0f0f0f0;
    border: none;
    border-radius:  5px;
    padding:  5px  10px;
    cursor: pointer;
    outline: none;
    transition: background-color  0.3s ease, color  0.3s ease;
}

.back-to-movies:hover, .filter-button:hover {
    color: rgb(126,  2,  2);
}

.filter-button.active, .back-to-movies.active {
    background-color: #007BFF;
    color: white;
    border: none;
}

.rating-filters {
    display: flex;
    gap:  10px;
    width:  100%;
    max-width:  300px;
    margin-top:  10px;
}

@media screen and (max-width:  600px) {
    .header-container {
        flex-direction: column;
        padding:  10px;
    }
    .button-container {
        justify-content: center;
        margin-top:  10px;
    }
    .title {
        margin-bottom:  10px;
    }
}