@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap');

body, h1 {
    margin: 0;
  }
  
  .title {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    font-size: 2rem;
    padding: 30px 30px;
  }
  
  .homeButton {
    position: absolute;
    right: 20px;
    background-color: #444;
    color: white;
    border: 2px solid #666;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 4px 2px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .homeButton:hover {
    background-color: #666; 
    color: #ffffff;
  }
  